.filter-content {
  position: fixed;
  background-color: white;
  padding: 1.5rem;
  top: 1;
  right: 0;
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.filter-btn {
  position: absolute;
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  z-index: 999;
  /*border-radius: 5px;*/
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  color: black;
  border: none;
}

.filter-btn:hover {
  color: white;
  background-color: black;
}

/* .select.colour { */
/*   padding: 0.75rem 0.4rem 0.5rem; */
/*   width: 80%; */
/*   border-radius: 0.5rem; */
/*   background-color: black; */
/*   color: white; */
/*   font-weight: 500; */
/* } */

/* .select.gender { */
/*   padding: 0.75rem 0.4rem 0.5rem; */
/*   width: 80%; */
/*   border-radius: 0.5rem; */
/*   background-color: black; */
/*   color: white; */
/*   font-weight: 500; */
/* } */

.select {
  padding: 0.75rem 0.4rem 0.5rem;
  width: 80%;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  font-weight: 500;
}

.select.size {
  /* padding: 0.75rem 0.4rem 0.5rem; */
  /* width: 80%; */
  /* border-radius: 0.5rem; */
  /* background-color: black; */
  /* color: white; */
  /* font-weight: 500; */
  margin-bottom: 0.5rem;
}

.x-btn {
  font-size: 1.5rem;
  background-color: white;
  border: none;
}

.filter-search {
  border: 2px solid black;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  font-weight: 800;
  font-size: 1rem;
  width: 90%;
}

.filter-search:hover {
  background-color: black;
  color: white;
}

.filter-content h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

.filter-content > input {
  width: 90%;
}

.filter-content > input[type="range"] {
  accent-color: #242424;
}

/* .filter-content > input::-webkit-slider-thumb { */
/*   background: purple; */
/* } */
/**/
/* .filter-content > input::-webkit-slider-runnable-track { */
/*   color: purple; */
/* } */
