.home.display {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.home.group {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.banner.display {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 8rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
