.icard.content {
  height: 20vh;
  width: 35vw;
  border-radius: 1rem;
}

.icard.content > img {
  height: 30vh;
  width: 40vw;
  border-radius: 1rem;
  z-index: 999;
  object-fit: cover;
}

.icard.desc {
  position: relative;
  width: 40vw;
  height: 10vh;
  top: -50%;
  z-index: 999;
  background-color: gray;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  opacity: 0.9;
}
