* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color:#101010; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav button {
  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  --size: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  color: var(--color, white);
  text-decoration: none;
  font-family: system-ui, sans-serif;
  transition: all 0.3s ease;
}

nav a {
  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  --size: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  color: var(--color, white);
  text-decoration: none;
  font-family: system-ui, sans-serif;
  transition: all 0.3s ease;
}

nav a:hover {
  filter: brightness(120%);
  transform: scale(1.3);
}

/* Active Link Style */
nav a.active-link {
  --color: #FDA802; /* Neon orange for active link */
  filter: brightness(110%);
}

/* Inactive Link Style */
nav a.inactive-link {
  --color: #C4C4C6; /* Default gray for inactive links */
}

nav a .svg-inline--fa {
  font-size: 1.5rem; /* Icon size */
  color: currentColor; /* Inherit color from parent */
  text-shadow: 0 0 var(--blur) var(--glow); /* Glow effect */
}

nav a[href="/"] { --color: #FCEAAC; } /* Home - Soft yellow */
nav a[href="/cart"] { --color: #E555C7; } /* Cart - Pink */
nav a[href="/search"] { --color: #B7E7F7; } /* Search - Light blue */
nav a[href="/shop"] { --color: #C4C4C6; } /* Shop - Gray */
