* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #101010;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav a {
  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  --size: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  color: var(--color, white);
  text-decoration: none;
  font-family: system-ui, sans-serif;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

nav {
  outline: none;
}

nav button {
  color: #b7e7f7;
  background-color: #101010;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.5rem;
}

nav button:hover {
  filter: brightness(120%);
  transform: scale(1.5);
}

nav a:hover {
  filter: brightness(120%);
  transform: scale(1.3);
}

/* Active Link Style */
nav a.active-link {
  --color: #fda802; /* Neon orange for active link */
}

/* Inactive Link Style */
/* nav a.inactive-link { */
/*   /*--color: #C4C4C6; /* Default gray for inactive links */
/* } */

nav a:focus {
  outline: none !important;
}

nav a.active-link:focus,
nav a.inactive-link:focus {
  outline: none !important;
}

nav a .svg-inline--fa {
  font-size: 1.5rem; /* Icon size */
  color: currentColor; /* Inherit color from parent */
}

.overlay {
  position: absolute;
  top: 0rem;
  left: 0rem;
}

nav a[href="/"] {
  --color: #fceaac;
} /* Home - Soft yellow */
nav a[href="/cart"] {
  --color: #e555c7;
} /* Cart - Pink */
nav a[href="/search"] {
  --color: #b7e7f7;
} /* Search - Light blue */
nav a[href="/shop"] {
  --color: #c4c4c6;
} /* Shop - Gray */
